.App {
  text-align: center;
  position: relative;
}

.title {
  font-size: 56px;
  font-weight: 600;
}

.text {
  font-size: 28px;
  font-weight: 400;
}

._item {
  background-color: rgb(201, 201, 201);
  width: 480px;
  height: 300px;
  line-height: 300px;
  font-size: 36px;
}
